* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation styles */
nav {
    display: flex;
    /* nav er moddhe 2ta jinish--> h2 and ul; justify dile eder moddhe space hbe */
    justify-content: space-between;
    margin: 51px 226px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

/* banner styles */
.banner {
    align-items: center;
    display: flex;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    font-style: normal;
    /* font-weight: 400; */
    as eta normal so na dileo hbe font-size: 18px;
    color: #757575;
    margin-bottom: 30px
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}


/* about section style */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 156px 141px;
    text-align: center;
    
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info-title {
    font-size: 20px;
    text-align: center;
    color: #757575;
}